/*-----------------------------------------------*/
/*- STYLING FOR FOUR LOBBY PAGES: ---------------*/
/*- TEAMSIGNUP, TEAMLOGIN, HOME, HOMEADMIN-------*/
/*-----------------------------------------------*/

.lobby-page{
    @include flex(column, center, center);
    text-align:center;
    background: rgb(227,181,5);
    background: linear-gradient(135deg, rgba(227,181,5,1) 0%, rgba(223,143,57,1) 100%);

    .lobby-wrap{
        width:400px;

        p.label{
            font:600 1.2em/1.4 Avenir, "sans-serif";
        }
    }

    h1{
        font-size:30px;
        font-weight:600;
    }

    h2{
        margin:1em 0 3em 0;
        font-weight:400;
    }

    .login-form{

        .field-loginteamform-rememberme{
            visibility:hidden;
            margin:0;
        }

        .field-loginteamform-username{
            margin-bottom:0;
        }
    }
}

.signup-form, .login-form{

    .form-group{
        margin:1.5em 0 2em 0;
            
        label{
            display:none;
        }
        
        input[type="text"], input[type="password"], textarea{
            display:inline-block;
            font-size:1em;
            outline:none;
            border:none;
            padding-left:.5em;
            padding:0.8em 0.5em;
            width:200px;
            border-radius:5px;
        }
    }
}

/* BUTTON STYLING (NO BACKGROUND-COLORS) */

button.lobby, a.lobby{
    font:600 100%/1.4 Avenir, "sans-serif";
    color:white;
    padding:0.8em 0em;
    width:200px;
    border-radius:5px;
    border:none;
    outline:none;
    cursor:pointer;
    transition: background .3s ease;
    background: rgb(219, 75, 74);

    &:hover{
        background: rgb(99, 0, 0);
    }
}