/*! Variabelen bij PLATFORM BASE */

//KLEUREN VOOR USERZONE

$adminkleur-d:#363636;
$adminkleur-l:#fff;
$adminkleur-a:#09531f;
$adminkleur-ad:#042403;


//KLEUREN VOOR OP SITE

$hoofdkleur-d:#243848;
$hoofdkleur-l:#e8e8e8;
$accentkleur-r:#DB4B4A;
$accentkleur-rd:rgb(99, 0, 0);
$accentkleur-g:#E3B505;

//FONTS

$adminfont: "Open Sans", sans-serif;
$hoofdfont: "Open Sans", sans-serif;

//PATH FOR IMAGES

$imagePath : '../../../../images';

//SCHERMBREEDTES

$mediumscreen: 1200px;
$smallscreen: 730px;
