/* POPUP STYLING AND LAY-OUT */

// GENERAL POPUP STYLING FOR THREE TYPES

.popup-container{
    position:fixed;
    z-index:1000;
    overflow:hidden;
    background:#eae7dc;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    text-align:center;
    padding:0em 4em;

    button.closebtn{
        position:absolute;
        top:1rem;
        right:1rem;
        background:none;
        border:none;
        outline:none;
        font-size:1.5em;
        font-weight:400;
        cursor:pointer;
        color:#e85a4f;
        transition:color 0.3s ease;
        //ad custom general close button style here
        
        &:hover{
            color:#97342d;
        }
    }

    .popup-label{
        font-size:1em;
        font-weight:500;
        line-height:0;
    }

    .popup-input{
        margin:0.7em 0 1em 0;
        padding:0.5em 0 0.5em 1em;
        font-size:1rem;
        border:none;
        border-radius:10px;
        outline:none;

    }

    .popup-btn{
        font-family:$hoofdfont;
        border:none;
        outline:none;
        padding:.5em 1.2em;
        border-radius:10px;
        font-size:.9em;
        font-weight:600;
        margin:1em;
        color:white;
        background:#e85a4f;
        cursor:pointer;
        text-transform:uppercase;
        transition:background 0.3s ease;
        
        &:hover{
            background:#97342d;
        }
    }

    h4{
        font-size:1.3em;
        margin:.5em;
        font-weight:600;
        margin-bottom:2em;
    }

    div.buttons{
        @include flex(row, center, center)
    }

    .popup-form ul{
        display:flex;
    }

}

.popup-center{
    top:50%;
    left:50%;
    width:600px;
    height:500px;
    transform:translate(-50%,-50%);
}

.popup-topwide, .popup-bottomwide{
    width:100%;
    transition:height 300ms ease;
}

.popup-topwide{top:0;}

.popup-bottomwide, .popup-bottom{bottom:0;}


//INDIVIDUAL POPUP STYLING

#get-your-tickets{
    position:fixed;

    button.closebtn{
        color:black;
    }


}

#guest-opinion{
    width:220px;
    left:100px;
    padding:0 1em;
    justify-content:flex-start;

    p{
        margin-top:3em;
    }

    ul{
        margin:1em 0 0 0;
        padding:0;
        list-style-type:none;
        text-align:left;

        li{
            margin-bottom:.5em;
        }
    }

}