/*! Variabelen bij PLATFORM BASE */

//KLEUREN VOOR USERZONE

$adminkleur-d:#363636;
$adminkleur-l:#fff;
$adminkleur-a:#09531f;
$adminkleur-ad:#042403;


//KLEUREN VOOR OP SITE

$hoofdkleur-d:#1b1b1b;
$hoofdkleur-l:#e8e8e8;
$accentkleur:#193d66;
$accentkleur-2:#193d66;


//FONTS

$adminfont: "Open Sans", sans-serif;
$hoofdfont: "Open Sans", sans-serif;

//PATH FOR IMAGES

$imagePath : '../../../../images';

//SCHERMBREEDTES

$mediumscreen: 1200px;
$smallscreen: 830px;
