/*General SCSS site-wide*/
@import "var", "mixins";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css";

/* GENERAL STYLING -------------------------- */

//keep this here, we don't want to have scroll events not firing!!
html{
    overflow-x:hidden;
}

body{
    font:300 100%/1.4 "Open Sans", sans-serif;
    background:white;
    margin:0;
    padding:0;
    color:$hoofdkleur-d;
    width:100vw;
    //no overflow-x:hidden please!!
}

.sitezone{
    //margin-top:0px;
    min-height:100vh;
    display:none;
    flex-direction:column;
    justify-content:flex-start;
    //position:relative;
}

.container{
    position:relative;
    flex:1;
    width:1100px;
    margin:0 auto;
}

.inner{
    padding:2em 0px;
}

.fullwh{
    width:100%;
    flex:1;
}

p, a{
    color:$hoofdkleur-d;
}

@media screen and (max-width:$mediumscreen){
    
    .container{
        width:90%;
    }
}

@media screen and (max-width:$smallscreen){
    
    .container{
        width:80%;
    }

    .inner{
        padding:1em 0 2em 0;
    }

}

/* END OF GENERAL STYLING ---------------- */

/* MEMBERZONE STYLING ---------------------- */

nav.memberzone{
    z-index:20;
    position:absolute;
    right:2em;
    top:2em;
    
    a#toggleMemberzone{
        display:none;
    }

    .member-options{

        a{
            margin:0 0.5em;
        }

    }
}

@media screen and (max-width:$smallscreen){

    nav.memberzone{
        top:.5em;
        right:.5em;
    }

}

/* MAIN STYLING ----------------------- */

main{
    flex:1;
    @include flex(column, flex-start, flex-start);
}


/* FOOTER STYLING ------------------------ */

footer{
    background-color:#222;
    color:white;
    text-align:center;
    padding:.5em;

    p.copyright{
        color:$hoofdkleur-l;
        font-size:.8em;

        a{
            color:$hoofdkleur-l;
        }
    }
}