/*--------------------------------- */
/*HOMEPAGE STYLING => ARTIST/INDEX- */
/*--------------------------------- */

.blog{
    min-width:300px;
    max-width:1400px;
    margin:0 auto;
    margin-bottom:2em;
}

//CUSTOM SLIDER LAYOUT
.custom-slider{
    width:100%;
    margin-bottom:50px;
    position:relative;

    ul.slides{
        margin:0;
        padding:0;
        list-style:none;

        li{
            float:left;

            div.slide{
                width:inherit;
                height:inherit;
                margin:0 auto;
                @include grid();
                grid-template: repeat(3, 1fr) / repeat(4, 1fr);

                .blog-box{
                    position:relative;
                    width:300px;
                    height:168.5px;
                    margin:1.5em;
                    overflow:hidden;
                    @include box-shadow(2px, 2px, 8px, 1px, rgba(0,0,0,0.4));
                    transition:all 0.4s ease;
            
                    &:hover{
                        opacity:0.8;
                        @include box-shadow(2px, 2px, 8px, 0px, rgba(0,0,0,0.2));
                    }
            
                    img{width:100%;}
                    
                } //blog-box
            } // slide
        }
    }

    div.arrows{
        position:absolute;

        button.pijl{
            position:fixed;
            background:none;
            border:none;
            outline:none;
            top:50%; 
            font-weight:bold;
            color:white;
            transition:color .3s ease;
        
            &:hover{color:$accentkleur;}
           
            span{
                font-size:2em;
                text-shadow:0px 0px 8px rgba(0,0,0,0.4);
            }
        }
    }
}


@media screen and (min-width:1480px){

    .custom-slider{
        ul.slides{
            li{
                width:1350px;
                height:600px;
                
                div.slide{grid-template: repeat(3, 1fr) / repeat(4, 1fr);}
            }
        }

        div.arrows{
            .pijl{
            left:48.5%;

                &.prev{ @include transform(translate(-690px, 0)); }
                &.next{ @include transform(translate(690px, 0)); }
            }
        }
    }
}

@media screen and (max-width:1480px){

    .custom-slider{
        ul.slides{
            li{
                width:1000px;
                height:810px;

                div.slide{grid-template: repeat(4, 1fr) / repeat(3, 1fr);}
            }
        }

        div.arrows{
            .pijl{
                left:48%;

                &.prev{ @include transform(translate(-520px, 0)); }
                &.next{ @include transform(translate(520px, 0)); }
            }
        }
    }
}

@media screen and (max-width:1160px){

    .custom-slider{
        ul.slides{
            li{
                width:670px;
                height:1210px;

                div.slide{grid-template: repeat(6, 1fr) / repeat(2, 1fr);}
            }
        }

        div.arrows{
            .pijl{
                left:47%;

                &.prev{ @include transform(translate(-360px, 0)); }
                &.next{ @include transform(translate(360px, 0)); }
            }
        }
    }
}

@media screen and (max-width:800px){

    .custom-slider{
        ul.slides{
            li{
                width:300px;
                height:2410px;
                
                div.slide{
                    grid-template: repeat(12, 1fr) / repeat(1, 1fr);

                    .blog-box{
                        width:270px;
                        height:151px;
                    }
                }
            }
        }

        div.arrows{
            button.pijl{
                left:46.5%;
                font-size:1em;

                &.prev{ @include transform(translate(-160px, 0)); }
            
                &.next{ @include transform(translate(160px, 0)); }
            }
        }
    }
}


/*---------------------------------*/
/*IND. ARTIST STYLING -------------*/
/*---------------------------------*/

//style different from user "back to" buttons
.above-post a{
    display:inline-block;
    color:$hoofdkleur-d;
    font-weight:600;
    padding:0.5em;
    margin-bottom:1em;
    transition:color .3s;
    
    &:hover{
        color:$accentkleur;
    }
}

.artist-wrap{
    margin-bottom:4em;
    @include flex(row, flex-start, flex-start);
 
    &:last-of-type{
        margin-bottom:0;
    }
    
    .artist-img{
        width:450px;
        
        img{
            width:450px;
        }
    }

    .artist-info{
        margin-left:2em;

        h2{
            font-size:1.5em;
            font-weight:700;
            text-transform:uppercase;
            margin-bottom:.5em;
        }

        p{
            font-size:1.1em;
        }

    }

}

.artist-news{
    margin-top:3em;

    h3{
        font-size:1.2em;
        font-weight:600;
        margin-bottom:2em;
    }

    .artist-news-items{
        @include flex(row, flex-start, flex-start);

        div.news-box{
            margin-left:2em;
            width:400px;
            @include flex(row, flex-start, flex-start);

            img{
                width:100px;
            }

            div.news-box-content{
                margin-left:1em;

                a{
                
                    text-decoration:underline;
    
                    &:hover{
                        color:$accentkleur;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:$smallscreen){

    .above-post{ 
        margin-bottom:.5em;

        a{
            font-size:.8em;
            margin-bottom:0em;
            padding:0.2em;
        }
    }

    .artist-wrap{
        @include flex(column, flex-start, flex-start);

        .artist-img{
            width:100%;

            img{
                width:100%;
            }

        }

        .artist-info{
            margin-top:1em;
            margin-left:0px;

            h2{
                font-size:1.5em;
            }

            p{
                font-size:.9em;
            }
        }
    }
}