/* MIXINS bij OLD ROCKERS NEVER DIE */

@mixin flex($direction, $justify-content, $align-items){
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    -webkit-box-align: $align-items;
    -moz-box-align: $align-items;
    -ms-flex-align: $align-items;
    -webkit-align-items: $align-items;
    align-items: $align-items;
}

@mixin grid(){
    display: -ms-grid;
    display: grid;
}

@mixin transform($transform){
    -webkit-transform: $transform;
    -ms-transform: $transform;
    transform: $transform;
}

@mixin box-shadow($hor, $ver, $blur, $spread, $color){
    -webkit-box-shadow: $hor $ver $blur $spread $color;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    $hor $ver $blur $spread $color;  /* Firefox 3.5 - 3.6 */
    box-shadow:         $hor $ver $blur $spread $color;
}

